.pageContainer {
	position: relative;
	text-align: center;
	height: 800px;
}

.pageContainer div {
	padding: .5em;
	border-radius: 5px;
	font-size: 20pt;
}

input {
	display: block;
	width: 20%;
	margin: auto;
	margin-top: 40px;
}

ul {
	width: 25%;
}

.button {
  	position: absolute;
  	display: inline-block;
  	width: 33%;
  	top: 50%;
  	left: 33%;
  	background-color: #aaa;
}

.button:hover {
	background-color: #888;
}

.popUp {
  display: block;
  width: 50%;
  height: 50%;
  background-color: #ccc;
  margin: auto;
  position: absolute;
  top: 25%;
  left: 25%;
}